<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjeZy3IUAo9LuVakPAhdOchBimwN6k8ZM</string>
	<key>GCM_SENDER_ID</key>
	<string>876314375356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banu.Beybi</string>
	<key>PROJECT_ID</key>
	<string>beybi-d986e</string>
	<key>STORAGE_BUCKET</key>
	<string>beybi-d986e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876314375356:ios:3b16064ddf4027eb978cb9</string>
</dict>
</plist>